.idea
**/__pycache__
data/
stacked_predictions/
NNclass/smass/
.virtual_documents
*.iml
compute_scores.py
compute_scores2.py
contour.py
contour_single.py
plot_scores.py
plot_scores_draft.py
population_selection.py
quick_plots.py
scores.py

readme.txt
auxiliary_dictionaries.py
subset_tng300_inputs.csv
subset_tng300_inputs_missing_Delta3_h.csv
subset_tng300_targets.csv
get_prediction.py
run_hival.py